<html>

<head>
    <title>Demo Socketio - Homepage</title>
    <script src="/js/jquery.min.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <script>
        const countNumber = (() => {
            count = 0;
            return function() {
                count = count + 1;
                return count;
            }
        })();
        var socket = io("http://103.107.183.254:3000");
        socket.on("server-send-data", data => {
            var chatHistory = $("#chat-content");
            chatHistory.val(chatHistory.val() + "\r\n" + data.name + ":\t" + data.content);
            let currentNumMessage = countNumber();
            if(currentNumMessage > 5)   {
                chatHistory.attr('rows', 10);
            }   else    {
                chatHistory.attr('rows', currentNumMessage);
            }
            chatHistory.scrollTop(chatHistory[0].scrollHeight); 
        });
        socket.on("register-fail", data => {
            alert('User name: ' + data + ' is already registered');
            $("#txtUserName").val("");            
        });
        socket.on("update-list-users", data => {
            let activeUsers = $("#active-users");
            activeUsers.val("");
            data.forEach(element => {
                if(new String($("#HelloMessage").text()).valueOf() !== new String(element).valueOf()    )   {
                    activeUsers.val(activeUsers.val() + "\r\n" + element);
                }
            });
            let currentNumActiveUsers = data.length;
            if(currentNumActiveUsers > 5)   {
                activeUsers.attr('rows', 10);
            }   else    {
                activeUsers.attr('rows', currentNumActiveUsers);
            }
            activeUsers.scrollTop(activeUsers[0].scrollHeight); 
        });
        socket.on("register-success", data => {
            $("#login-form").hide(2000);
            $("#hello-form").show(1000);
            $("#HelloMessage").text("Current User: " + data.username + " - Room: " + data.roomchat);
            $("#chat-form").show(1000);
            $("#txtUserName").val("");
        });
        socket.on("typing", username => {
           $("#notice").text(`${username} is typing ... `);
        });
        socket.on("stop-typing", username => {
           $("#notice").text("");
        });
        $(document).ready(() => {
            $("#login-form").show();
            $("#chat-form").hide();
            $("#hello-form").hide();
            $("#btnRegister").click(() => {
                socket.emit("client-register", {username: $("#txtUserName").val(), roomchat: $("#txtRoomchat").val()});
            });
            $("#btnLogout").click(() => {
                socket.emit("client-logout");
                $("#chat-form").hide(2000);
                $("#login-form").show(1000);
                $("#message-content").val();                
            });
            $("#send").click(() => {
                socket.emit("client-send-data", $("#message-content").val());
            });
            $("#message-content").focus(() => {
                socket.emit("typing");
            });
            $("#message-content").focusout(e => {
                socket.emit("stop-typing");
            });
        });
    </script>
</head>

<body>
    <div class="container-fluid-nav text-center bg-light">
        <a class="navbar-brand mb-0 h1">SOCKETIO DEMO</a>
    </div>

    <div class="container-fluid-nav text-center bg-light my-5" id="hello-form">
        <a class="navbar-brand mb-0 h1" id="HelloMessage">HELLO</a>
    </div>

    <div class="container my-5" id="login-form">
        <div class="d-flex justify-content-center h-20">
            <div class="card">
                <div class="card-header">
                    <h3>Register</h3>
                </div>
                <div class="card-body">
                    <form>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="User name" id="txtUserName">
                        </div>

                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-object-group"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Room chat" id="txtRoomchat">
                        </div>

                        <div class="form-group">
                            <input value="JoinChat" class="btn float-right btn-danger" id="btnRegister">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container border" id="chat-form">
        <div class="row">
            <div class="col-4 border-right">
                <div class="col-12 p-0 m-0 pl-5 row border-bottom">
                    <h5>Active Users</h5>
                </div>
                <div class="row col-12 my-5">
                    <textarea class="border-0 form-control" id="active-users" rows="1"
                        placeholder="List Active User" readonly></textarea>
                </div>
            </div>

            <div class="col-8 form-row p-0">
                <div class="row col-12 m-0 ml-1 border-bottom">
                    <div class="col-12 p-0 m-0 pl-5 row border-bottom">
                        <h5 id="chat-content-header"> Message History</h5>
                    </div>

                    <div class="row col-12 my-5">
                        <textarea class="border-0 form-control" id="chat-content" rows="1"
                            placeholder="Message History" readonly></textarea>
                    </div>
                    <p class="text-justify" id="notice"></p>
                </div>
                <div class="row col-12 p-0 mx-0 my-5">
                    <div class="col">
                        <textarea class="form-control" id="message-content" rows="1"
                            placeholder="Type a message"></textarea>
                    </div>
                    <div class="col">
                        <button class="btn btn-primary" id="send">
                            Send Message
                        </button>
                    </div>
                </div>
                <div class="row col-12 p-0 mx-0 mt-5 float-right">
                    <div class="col-12 p-0 mb-5 float-right">
                        <input type="submit" value="Logout" id="btnLogout" class="col-3 btn float-right btn-danger">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>